html body head header p div {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  background-color: #fff5bc;
  font-family: sans-serif;
}
.container1 {
  display: flex;
  background-color: rgb(255, 187, 0);
  color:white;
  padding: 40px 20px;
  justify-content: space-between;
}
.title{
  justify-content: flex-start;
  text-decoration: none;
}
.nav {
  justify-content: flex-end;
}
.nav a {
  text-decoration: none;
  margin-left: 20px;
  color:white;
}
.container2 {
  display: flex;
  align-items: center;
}
.dashboard {

  background-color: #fff;
  border: 2px solid rgb(255, 187, 0);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 10px 20px 50px;
  height: 375px;
  font-size: 15px;
}
.budget {

  background-color: #fff;
  border: 2px solid rgb(255, 187, 0);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 10px;
  height: 375px;
  font-size: 15px;
}
.checkbooks {

  background-color: #fff;
  border: 2px solid rgb(255, 187, 0);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 10px;
  height: 375px;
  font-size: 15px;
}
.money {

  background-color: #fff;
  border: 2px solid rgb(255, 187, 0);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 50px 20px 10px;
  height: 375px;
  font-size: 15px;
}
h1 {
  margin: 0;
  font-size: 17px;
}
input {
  background-color: rgb(255, 187, 0);
  color: white;
  border: 0;
  padding: 5px 80px;
  margin: 0px 10px;
}